@using Kendo.Mvc.UI;
@using Dashboard.DB.Models;

@section styles
{
    @Styles.Render(Dashboard.Bundles.Kendo.KendoStandart.Css.Key,
        Dashboard.Bundles.Fontawesome.Css.Key)
}

@section Scripts
{
    @Scripts.Render(
        Dashboard.Bundles.Kendo.kendo.Scripts.Key,
        Dashboard.Bundles.Kendo.kendoHelp.Scripts.Key)
}

@Html.Partial("DeleteModalWindow")
    @{
    	ViewBag.Title = "Список должностей";
    }
    <h2>@ViewBag.Title</h2>
    
    <div class="form-horizontal">
    <p>
        @Html.ActionLink("Создать", "Create")
    </p>
    
    <div>
    		 @(Html.Kendo().Grid<Position>()
            .Name("Grid")
            .Columns(columns =>
            {
    			columns.Bound(p => p.name);
    			columns.Bound(p => p.shortName);
                columns.Bound(p => p.Parent);
                columns.Bound(p => p.id)
                .Title("")
                .Filterable(false)
                .Sortable(false)
    			.Template(t => { })
    			.ClientTemplate("#=getClientTemplate(id, name,'Positions')#");
            })
            .DataSource(dataSource => dataSource
    					.Ajax()
    					.Events(events => events.Error("error_handler"))
    					.Read(read => read.Action("AllPositions", "Positions"))
    					.PageSize(30)
    					.Total(0))					
    				.Pageable()
    				.Sortable()
    				.Filterable()
    					)
    </div>
    </div>
    










